adventure-works-dw2022-project/pipeline/copy pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"desktop-gj8qm3s;AdventureWorksDW2022":{"type":"string"},"bronze_DW_LK":{"type":"string"},"PowerBIDatasets 22520785 (3)":{"type":"string"}},"variables":{},"resources":[{"name":"copy pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"select \n\tSCHEMA_NAME = s.name,\n\tTableName = t.name\nfrom sys.tables as t\njoin sys.schemas as s\non s.schema_id = t.schema_id\nwhere t.name in ('DimCustomer','DimProduct','DimGeography','DimProductCategory','DimProductSubcategory','FactInternetSales')","queryTimeout":"02:00:00","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"AdventureWorksDW2022"},"externalReferences":{"connection":"[parameters('desktop-gj8qm3s;AdventureWorksDW2022')]"}}}},{"name":"ForEach","type":"ForEach","dependsOn":[{"activity":"Lookup","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup').output.value","type":"Expression"},"activities":[{"name":"ingestion","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"schema":{"value":"@item().Schema_name","type":"Expression"},"table":{"value":"@item().TableName","type":"Expression"},"database":"AdventureWorksDW2022"},"externalReferences":{"connection":"[parameters('desktop-gj8qm3s;AdventureWorksDW2022')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"OverwriteSchema","partitionOption":"None","applyVOrder":false,"datasetSettings":{"annotations":[],"linkedService":{"name":"bronze_DW_LK","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"bbfefc3a-9b0e-4f49-8e58-ef3356b0b026","artifactId":"[parameters('bronze_DW_LK')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":{"value":"@item().TableName","type":"Expression"}}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}},{"name":"transformation notebook","type":"TridentNotebook","dependsOn":[{"activity":"ForEach","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"f7b09672-ca20-487c-87f4-b57b2db215f9","workspaceId":"bbfefc3a-9b0e-4f49-8e58-ef3356b0b026"}},{"name":"gold notebook","type":"TridentNotebook","dependsOn":[{"activity":"transformation notebook","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"f609e969-1304-443c-8957-109ca0c8de9c","workspaceId":"bbfefc3a-9b0e-4f49-8e58-ef3356b0b026"}},{"name":"Semantic model refresh","type":"PBISemanticModelRefresh","dependsOn":[{"activity":"gold notebook","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"method":"POST","operationType":"SemanticModelRefresh","groupId":"bbfefc3a-9b0e-4f49-8e58-ef3356b0b026","datasetId":"5da8e1cc-d37a-41f8-bbf7-3a2f322793eb","waitOnCompletion":true,"commitMode":"Transactional"},"externalReferences":{"connection":"[parameters('PowerBIDatasets 22520785 (3)')]"}}],"lastModifiedByObjectId":"3ca5a232-c939-4894-b8bf-078502e7bd0f","lastPublishTime":"2026-05-12T04:47:20Z"},"dependsOn":[]}]}