youtube-api-project/pipeline/youtubedata_pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"https://www.searchapi.io/ 22520785 (3)":{"type":"string"},"youtube_api_lakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"youtubedata_pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"API search","type":"ForEach","dependsOn":[],"typeProperties":{"items":{"value":"@pipeline().parameters.p_keyword","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy youtubedata to lakehouse","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"},"datasetSettings":{"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@concat(\n    'api/v1/search?engine=youtube',\n    '&api_key=9FrZU1ufHNt44J2MJ2rBiLLw',\n    '&q=', uriComponent(string(item())),\n    '&num=', string(pipeline().parameters.p_number_of_results),\n    '&duration=', string(pipeline().parameters.p_duration),\n    '&hl=', string(pipeline().parameters.p_language)\n)","type":"Expression"}}},"schema":{},"externalReferences":{"connection":"[parameters('https://www.searchapi.io/ 22520785 (3)')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"youtube_api_lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"13f8a727-0632-4c2c-967d-e09d731b29b4","artifactId":"[parameters('youtube_api_lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat('youtube_', item(), '_', formatDateTime(utcnow(), 'HHmmss'), '.json')","type":"Expression"},"folderPath":{"value":"@concat('landing_zone/youtube/', formatDateTime(utcnow(), 'yyyy/MM/dd'))","type":"Expression"}}},"schema":{}}},"enableStaging":false}},{"name":"transformation nb","type":"TridentNotebook","dependsOn":[{"activity":"Copy youtubedata to lakehouse","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"d7a93fcd-8a22-482e-be79-62d11d3888e9","workspaceId":"13f8a727-0632-4c2c-967d-e09d731b29b4","parameters":{"p_folder_path":{"value":{"value":"@concat('landing_zone/youtube/', formatDateTime(utcnow(), 'yyyy/MM/dd'))","type":"Expression"},"type":"string"},"p_keyword_single":{"value":{"value":"@string(item())","type":"Expression"},"type":"string"}}}}]}},{"name":"gold nb","type":"TridentNotebook","dependsOn":[{"activity":"API search","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"9b3b4002-221c-4b7c-801b-8bf262f40f42","workspaceId":"13f8a727-0632-4c2c-967d-e09d731b29b4"}}],"parameters":{"p_keyword":{"type":"array","defaultValue":["Microsoft Fabric","Databricks","Snowflake Data Cloud","Power BI Copilot","Azure Data Factory","dbt data engineering","Medallion Architecture","PySpark tutorial","SQL for Data Analytics","Data Engineering Roadmap 2026"]},"p_duration":{"type":"string","defaultValue":"any"},"p_language":{"type":"string","defaultValue":"en"},"p_number_of_results":{"type":"string","defaultValue":"100"}},"lastModifiedByObjectId":"3ca5a232-c939-4894-b8bf-078502e7bd0f","lastPublishTime":"2026-04-29T07:56:14Z"},"dependsOn":[]}]}